.alts {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .alts__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: center;
  }
  
  .alts__header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
  }
  
  .alts__header a:hover {
    text-decoration: underline;
  }
  
  .alts__headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 13vw;
  }
  
  .alts__headerRight > .MuiSvgIcon-root {
    margin-right: 20px;
  }
  
  .alts__body {
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
  }
  
  .alts__body > img {
    object-fit: contain;
    height: 33px;
  }

  .alts__body > h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }

  .alts__body > h1:after {
    content: "";
    display: block;
    width: 100px;
    height: 6px;
    background-color: #720000;
    margin: 20px auto;
  }
  
  .alts__inputContainer {
    display: flex;
    flex-direction: column;
  }
  .alts__footer {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .alts__footerBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
    background:black;
    position: relative; 
    bottom:0;
  }
  .alts__footerLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 13vw;
  }
  .alts__footerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 13vw;
  }
  .alts__footerLeft > a {
    color: white;
    margin-right: 20px;
  }
  @media screen and (max-width: 750px) {
  
  .search {
      max-width: 560px;
  }
  .alts__body > img {
    object-fit: contain;
    height: 70px;
  }
  
  }