@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Space Grotesk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #24252d;
  padding: 15px;
  /* overflow:hidden; */
}
.main-content {
  background-color: #fff;
  height:96.25vh;
}
.main-menu{
  height: 96.25vh;
  display: flex;
  flex-direction: column;
}
.main-menu a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-menu hr {
  border-color: rgba(255, 255, 255, 0.5);
}
.logo {
  padding: 25px 20px;
  /* padding-top: 25px */
}
.logo img {
  /* width:100%; */
  max-width:100%;
  height:35px
}
nav {
  padding: 0 20px;
}
nav ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav ul li {
  line-height:4;
  margin-bottom:10px;
}
nav ul li a svg, 
.sidebar-footer a svg,
.sidebar-footer button svg {
  color:rgba(255, 255, 255, 0.5);
}
nav ul li a ,
.sidebar-footer button {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
}
nav ul li a span{
  margin-left: 10px;
}
nav ul li a:hover, 
.sidebar-footer a:hover,
.sidebar-footer button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
nav ul li a:hover svg, 
.sidebar-footer a:hover svg,
.sidebar-footer button:hover svg{
  color:rgba(239, 106, 54, 1);
}
nav ul li a.active,
.sidebar-footer button.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
nav ul li a.active svg,
.sidebar-footer button.active svg{
  color:rgba(239, 106, 54, 1);
}
.sidebar-footer {
  margin-top: auto;
  padding: 0 20px;
  position: relative;
}
.sidebar-footer a,
.sidebar-footer button {
  padding: 20px 25px;
  margin-top:5px;
}
.sidebar-footer button{
  width:100%;
  text-transform:none;
  color: #FFF;
}
.sidebar-footer a svg, 
.sidebar-footer button svg {
  margin-left: auto;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .home__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: center;
  }
  
  .home__header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
  }
  
  .home__header a:hover {
    text-decoration: underline;
  }
  
  .home__headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 13vw;
  }
  
  .home__headerRight > .MuiSvgIcon-root {
    margin-right: 20px;
  }
  
  .home__body {
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
  }
  
  .home__body > img {
    object-fit: contain;
    height: 33px;
  }

  .home__body > h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .home__inputContainer {
    display: flex;
    flex-direction: column;
  }
  .home__footer {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
  }
  .home__footerBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
    background:black;
    position: relative; 
    bottom:0;
  }
  .home__footerLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 13vw;
  }
  .home__footerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 13vw;
  }
  .home__footerLeft > a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
  }
  @media screen and (max-width: 750px) {
  
  .search {
      max-width: 560px;
  }
  .home__body > img {
    object-fit: contain;
    height: 25px;
  }
  
  }