.checks{
    min-width: 500px;
    margin:0 auto;
}
.checks .check {
    margin-top: 1em;
}

.checks form {
    display: flex;
    flex-direction: column;
}
.checks form button.action {
    margin-top:50px;
}
.checks .form-control {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.checks .form-control input {
    margin-right: 20px
}
.checks .form-control span,
.checks .form-control button {
    margin-left: 20px
}
.checks input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}
.checks input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: #720000;
    width: 1em;
    height: 1em;
    border: 0.07em solid #555;
    border-radius: 50%;
    transform: translateY(0);
    /* transform: translateY(-0.075em); */
}

.check form input[type="text"] {
    display:block;
    padding:10px 5px;
    font-size: 1.5rem;
    outline:none;  
    box-shadow:none;
    border: 1px solid lightgray;
    border-radius: 10px;
    width:100%
}

input[type="checkbox"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #720000;
    border-radius: 50%;
    transform-origin: center center;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.checks button.search {
    margin: 50px auto;
    display: block;
    background-color: #720000;
    color: #fff;
    border: 1px solid #720000;
    padding: 10px 20px;
    width: 170px;
}

.checks button.search:hover {
    background-color: #fff;
    color: #720000;
    border: 1px solid #720000;
    cursor: pointer;
}

button.action {
    /* display: block; */
    background-color: transparent;
    color: #333;
    border: 1px solid transparent;
}

button.action:hover {
    background-color: #fff;
    color: #720000;
    border: 1px solid transparent;
    cursor: pointer;
}

button.action-add {
    background-color: transparent;
    color: #333;
    border: 1px solid transparent;
    text-align: center;
}
.checks button:hover {
    background-color: #fff;
    color: #720000;
    border: 1px solid transparent;
    cursor: pointer;
}