.stats-container {
    /* padding: 20px; */
}
.stats-container .stats-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 25px 15px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}
.stats-container .stats-header h2 {
    font-weight: 500;
    font-size: 18px;
}
.stats-container .stats-header .stats-utils {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:auto;
    width: 40%;
    justify-content: space-between;
}
.stats-container .stats-utils .stats-button {
    background-color: rgba(239, 106, 54, 1);
    color: #fff;
    border: 1px solid rgba(239, 106, 54, 1);
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
    margin-left: auto;
    box-sizing: border-box;
}
.stats-container .stats-utils .stats-button:hover {
    background-color: #fff;
    color: rgba(239, 106, 54, 1);
    border: 1px solid rgba(239, 106, 54, 1);;
    cursor: pointer;
}
.stats-container .stats-body {
    padding: 25px 25px 30px;
    /* border-top: 1px solid #ccc; */
    justify-content: space-between;
}

.stats-container .stats-footer {
    margin-top: 30px;
}